body {
  margin: 0;
  background-color: #f2f5f3;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
/* For codehilite */
.codehilitetable,
.linenos {
  background: #2d2d2d;
  color: #67c;
}

.codehilitetable {
  font: 12px/20px 'Source Code Pro', monospace;
  overflow-x: auto;
  display: block;
  border-left: 3px solid #ff8000;
  border-radius: 2px;
  padding: 0.8em 0;
}

.codehilitetable tbody tr {
  display: block;
}

.codehilite pre {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: inherit;
  color: inherit;
  word-break: initial;
  word-wrap: initial;
}

.c,
.linenos {
  color: #747369;
}

.codehilitetable,
.linenos {
  background: #2d2d2d;
  color: #67c;
}

.linenos {
  border-right: 1px solid #3d3d3d;
  padding-right: 0.7em;
  margin-right: 0.7em;
  width: 3em;
  text-align: right;
  position: absolute;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.codehilite {
  margin: 0 1em 0 3.5em;
}

.c,
.linenos {
  color: #747369;
}
.err {
  color: #f2777a;
}
.k {
  color: #c9c;
}
.l {
  color: #f99157;
}
.n {
  color: #69c;
}
.o {
  color: #6cc;
}
.p {
  color: rgba(0, 0, 0, 0.5);
}
.cm {
  color: #747369;
}
.cp {
  color: #747369;
}
.c1 {
  color: #747369;
}
.cs {
  color: #747369;
}
.gd {
  color: #f2777a;
}
.ge {
  font-style: italic;
}
.gh {
  color: #67c;
  font-weight: bold;
}
.gi {
  color: #9c9;
}
.gp {
  color: #747369;
  font-weight: bold;
}
.gs {
  font-weight: bold;
}
.gu {
  color: #6cc;
  font-weight: bold;
}
.kc {
  color: #c9c;
}
.kd {
  color: #c9c;
}
.kn {
  color: #6cc;
}
.kp {
  color: #c9c;
}
.kr {
  color: #c9c;
}
.kt {
  color: #fc6;
}
.ld {
  color: #9c9;
}
.m {
  color: #f99157;
}
.s {
  color: #9c9;
}
.na {
  color: #69c;
}
.nb {
  color: #68f;
}
.nc {
  color: #fc6;
}
.no {
  color: #f2777a;
}
.nd {
  color: #6cc;
}
.ni {
  color: #65c;
}
.ne {
  color: #f2777a;
}
.nf {
  color: #69c;
}
.nl {
  color: #67c;
}
.nn {
  color: #fc6;
}
.nx {
  color: #69c;
}
.py {
  color: #67c;
}
.nt {
  color: #6cc;
}
.nv {
  color: #f2777a;
}
.ow {
  color: #6cc;
}
.w {
  color: #67c;
}
.mf {
  color: #f99157;
}
.mh {
  color: #f99157;
}
.mi {
  color: #f99157;
}
.mo {
  color: #f99157;
}
.sb {
  color: #9c9;
}
.sc {
  color: #67c;
}
.sd {
  color: #747369;
}
.s2 {
  color: #9c9;
}
.se {
  color: #f99157;
}
.sh {
  color: #9c9;
}
.si {
  color: #f99157;
}
.sx {
  color: #9c9;
}
.sr {
  color: #9c9;
}
.s1 {
  color: #9c9;
}
.ss {
  color: #9c9;
}
.bp {
  color: #67c;
}
.vc {
  color: #f2777a;
}
.vg {
  color: #f2777a;
}
.vi {
  color: #f2777a;
}
.il {
  color: #f99157;
}
